.AddPost-post-body {
  color: rgb(0, 0, 0);
  background-color: rgb(221,221,221);
  margin: 10px;
  min-height: 300px;
  width: 98%;
}

.AddPost-upload-input {
  display: none;
}

.AddPost-card-actions-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-areas:
    ". . . . . . imagePreview submitButton";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.AddPost-card-actions-image-preview-container {
  max-height: 36px;
  grid-area: imagePreview;
}

.AddPost-card-actions-image-preview {
  max-height: inherit;
}

.AddPost-card-actions-button {
  grid-area: submitButton;
  max-width: 80px;
}

/* MT: Quill text editor customizations */
.ql-container {
  min-height: 300px;
}

.ql-toolbar.ql-snow {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0 10px 0;
}

.ql-snow.ql-picker-label {
  margin: 0;
  padding: 0;
}

/* MT: Media queries here */
@media (max-width: 959px) {
  .AddPost-post-body {
    color: rgb(0, 0, 0);
    background-color: rgb(221,221,221);
    margin: 10px;
    min-height: 300px;
    width: 94%;
  }

  /* MT: Quill text editor customizations */
  .ql-toolbar.ql-snow .ql-formats {
    margin-right: 0;
    padding: 2px;
  }
}
