.AddPost-post-body {
  margin: 10px;
  min-height: 300px;
  width: 98%;
}

.ql-container {
  min-height: 300px;
}

.AddPost-upload-input {
  display: none;
}

.AddPost-add-image-button {
  margin-right: 10px;
}
