.Home {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 88px 1fr 76px; */
}

.Home-header {
  grid-area: header;
}

.Home-accountButton {
  grid-area: button;
  text-align: right;
}

.Home-intro {
  font-size: large;
}

.Home-posts {
  grid-area: main;
  margin: 0 10px 0 10px;
}

.Home-footer {
  background-color: violet;
  grid-area: footer;
}
