.Profile {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "header header header header"
    "profilecontainer profilecontainer profilecontainer profilecontainer"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Profile-header {
  grid-area: header;
}

.Profile-container {
  display: grid;
  grid-area: profilecontainer;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "addpost addpost addpost userinfo";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 10px 0 10px;
}

.Profile-title {
  float: left;
  font-size: 1.6em;
  font-weight: bold;
}

.Profile-title a {
  color: white;
  text-decoration: none;
}

.Profile-addPost {
  grid-area: addpost;
  text-align: center;
}

.Profile-userInfo {
  grid-area: userinfo;
}

.Profile-footer {
  grid-area: footer;
}

/* MT: Media queries here */
@media (max-width: 959px) {
  .Profile-container {
    grid-template-areas:
      "userinfo"
      "addpost"
      "footer";
    grid-template-columns: 1fr;
  }
}
