.Profile-header {
  background-color: #222;
  color: white;
  height: 76px;
  padding: 20px;
}

.Profile-title {
  float: left;
  font-size: 1.5em;
}

.Profile-container {
  display: grid;
  grid-template-columns: 66% 33%;
  grid-gap: 10px;
  margin: 10px;
}
