.Profile-header {
  background-color: #222;
  color: white;
  height: 76px;
  padding: 20px;
}

.Profile-title {
  float: left;
  font-size: 1.6em;
  font-weight: bold;
}

.Profile-title a {
  color: white;
  text-decoration: none;
}

.Profile-container {
  display: grid;
  grid-template-columns: 66% 33%;
  grid-gap: 10px;
  margin: 10px;
}
