.LoginButton-container {
  float: right;
}

.LoginButton-button {
  padding: 10px;
}

.LoginButton-login-pane,
.LoginButton-signup-pane {
  padding: 10px;
  width: 256px;
}

.LoginButton-login-pane {
  min-height: 172px;
}

.LoginButton-signup-pane {
  min-height: 264px;
}

.LoginButton-textfield {
  margin-bottom: 20px;
}

.LoginButton-menu-button {
  float: right;
  margin-top: 8px;
}
